$darkGray: #2b2c28;
$eerie: #131515;
$snow: #fffafb;
$kombu: #2a3c2b;
$mustard: #f6d43c;
$iris: #3e49cc;
$richBlack: #0a0908;
$ghost: #f2f4f3;
$jet: #433e3f;
$alabaster: #ede7d9;
$slime: #47a025;
$kelly: #52b62b;

$primary: $snow;
$secondary: $eerie;
$cherry: #e94848;

$font: 'PP Neue Montreal', sans-serif;
